RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f


RewriteRule ^(.*)\.html$ /$1 [R=301]

RewriteRule /index /home [L,R=301]
